<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
   		<meta http-equiv="X-UA-Compatible" content="IE-edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

		<title>My Prcatice Blog</title>
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<a href="/blog"><h1>My Practice Blog </h1></a>
				</div>
				
				<div class="col-md-4">
					<div class= "login-area">
					<a class = "login-link" href="/blog/signup" class="btn btn-primary pull-right" role="button">Signup</a> |
					<a class = "login-link" href="/blog/login" class="btn btn-primary pull-right" role="button"> Login</a>
					|
					<a class = "login-link" href="/" class="btn btn-primary pull-right" role="button">etc</a>
				</div>
					
					<a href="/blog/newpost" class="btn btn-primary pull-right" style="margin-top: 40px " role="button">Write</a>
					
					
					
				</div>
			</div>
		</div>
		
		<br>
		{% block content %}
		{% endblock %}
	</body>
	<br>
	<br>
	<br>
	<div class="container">
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6 text-right"><h4>{{ query_time}}</h4></div></div></div>


</html>